.create-wrapper{
    width:70%;
    /* justify-content: center; */
    margin-top:-10%;
}
.create-wrapper select{
    background:#212121;
    border:none;
    color:white;
    padding:1% 2%;
    text-align: left;
    outline:none;
    border-radius:5px;
    font-size:large;
    text-align: left;
    height:2.5rem;
    margin-top:25%;
    width:25vw;
}
.create-wrapper h2{
    margin:10% 0;
}
.create-box{
    background:#212121;
    padding:1% 5%;
    border-radius: 10px;
    width:80%;
    margin:0 auto
}
.create-box div{
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    /* flex-direction: column; */
}
.create-box div h4{
    width:30%;
    text-align: right;
}
.create-box div div,.create-box div input,.create-box div textarea,.create-box div p{
    width:70%;
    text-align: left;   
}
.create-box div input,.create-box div textarea{
    background: grey;
    height:2rem;
    outline:none;
    border:none;
    border-radius:5px;
}
.create-left{
    margin-left:3%;
}
.attendance-box{
    width:2vw !important;
    margin-left:3%;
}
::placeholder{
    color:white;
}
.create-box button{
    background:black;
    color:white;
    padding:2% 10%;
    border:none;
    outline:none;
    border-radius:5px;
    margin-bottom:10%;
}
.create-box div select{
    height:100%;
    margin-top:0;
    width:auto;
    background: grey;
    margin-left:2%;
}
.c-wrapper{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start !important;
}
.create-sidebar-main{
    width:25%;
    background: black;
    display:flex;
    flex-direction: column;
    min-height:100vh;
}
.create-sidebar-main a {
    margin:0.5%;
    height:3.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    background:grey;
    align-items: center;
    display:flex;
    text-decoration: none;
    color:white;
    text-align: left;
    padding-left:2%;
}
.c-content{
    width:75%;
}
.selected-nav{
    background:black !important;
    font-size:3rem;
    transition:all 0.5s ease;
}
.justifyBtns{
    display:flex;
    justify-content: space-between;
    padding:0 5%;
    align-items: center;
}
.flex{
    display:flex;
}
.classes-box{
    /* width:110%; */
    padding:0 5%;
    margin-left:10%;
    /* justify-content: space-between; */
}
.classes-box select{
    font-size:1vw !important;
    background:black;
}
.classes-box button{
    background: black;
    color:white;
    border-radius: 5px;
    border:none;
    outline:none;
    height:2.5rem;
    padding:2% 5%;
    margin-left:2%;
}
.select{
    text-align: left;
    margin-left:10%;
}
.sports-content{
    padding:5%;
}
.sports-content .degree-box{
    width:100%;
    margin-right:10% !important;
}
.media-selects{
    text-align: left;
    margin-left:5%;
}
.media-selects select{
    margin-right:2%;
}
.media-box{
    margin:5%;
}
.library-table{
    width:100%;
    margin:5%;
}
.flex-end{
    width:100%;
    text-align: end;
}
.flex-end button{
    margin-right:auto !important;
}
.justifyContent{
    justify-content: space-between;
    width:65vw;
    margin-bottom:5vh;
}
.justifyContent div{
    width:50vw;
}
.justifyContent div input{
    background: transparent;
    color:white;
    height:2rem;
    border:1px solid white;
    outline:none;
    border-radius: 5px;
    margin-right:2%;
}
.justifyContent div button{
    background: transparent;
    color:white;
    height:2rem;
    border:1px solid white;
    outline:none;
    border-radius: 5px;
}
.justifyContent button{
 color:white;
 border-radius: 5px;
 padding:0 2%;
}
.form-table{
    padding:5%;
}